.welcome {
   width: 320px;
   min-height: 640px;
   margin: 0 auto;
   background: url("../../img/welcome-bg-mobile.jpg") center top / 320px 640px no-repeat #d3d9e4;
   @media (min-resolution: 2dppx) {
      background: url("../../img/welcome-bg-mobile@2x.jpg") center top / 320px 640px no-repeat #d3d9e4;
   }
}

.welcome__container {
   padding: 68px 28px 0;
}

.welcome__title {
   margin-top: 0;
   margin-bottom: 38px;
   text-align: center;
}

.welcome__list {
   padding-left: 0;
   list-style-type: none;
   padding-bottom: 38px;
}

.welcome__item {
   min-height: 32px;
   padding-left: 72px;
   line-height: 19px;

   &:not(:last-of-type) {
      margin-bottom: 12px; 
   }

   &:nth-of-type(1) {
      margin-bottom: 6px;
   }

   &:nth-of-type(2) {
      margin-bottom: 19px;
   }

   &--essential {
      background: url("../../img/icon-essential.svg") left 28px top -5px / 32px 32px no-repeat;
   }

   &--freeze {
      background: url("../../img/icon-freeze.svg") left 28px top 16px / 32px 32px no-repeat;
   }

   &--delivery {
      background: url("../../img/icon-delivery.svg") left 28px top 6px / 32px 32px no-repeat;
   }
}

.welcome__link {
   width: 100%;
   padding-top: 17px;
   padding-bottom: 16px;
}

@media (min-width: $width-tablet) {
   .welcome {
      width: $width-tablet;
      height: 924px;
      margin: 0 auto;
      background: url("../../img/welcome-bg-tablet.jpg") center top / 768px 924px no-repeat #d3d9e4;
      @media (min-resolution: 2dppx) {
         background: url("../../img/welcome-bg-tablet@2x.jpg") center top / 768px 924px no-repeat #d3d9e4;
      }
   }

   .welcome__container {
      width: 527px;
      padding: 150px 28px 0 213px;
      margin: 0 auto;
   }

   .welcome__title {
      font-size: $title-tablet;
      margin-bottom: 56px;
      text-align: left;
   }

   .welcome__title-break {
      display: none;
   }

   .welcome__list {
      padding-bottom: 28px;
   }

   .welcome__item {
      padding-left: 44px;
      background-position-x: 0;

      &:not(:last-of-type) {
         margin-bottom: 12px; 
      }
   
      &:nth-of-type(1) {
         margin-bottom: 15px;
      }

      &:nth-of-type(2) {
         margin-bottom: 23px;
      }

      &--essential {
         background-position-y: -4px;
      }
   
      &--freeze {
         background-position-y: 6px;
      }

      &--delivery {
         background-position-y: -4px;
      }
   }

   .welcome__item-text {
      font-size: 18px;
      line-height: 22px;
   }

   .welcome__link {
      width: 336px;
      font-size: 28px;
      padding-top: 22px;
      padding-bottom: 23px;
   }
}

@media (min-width: $width-desktop) {
   .welcome {
      width: $width-desktop;
      height: 800px;
      margin: 0 auto;
      background: url("../../img/welcome-bg-desktop.jpg") center top / 1440px 800px no-repeat #d3d9e4;
      @media (min-resolution: 2dppx) {
         background: url("../../img/welcome-bg-desktop@2x.jpg") center top / 1440px 800px no-repeat #d3d9e4;
      }
   }

   .welcome__container {
      width: 555px;
      padding: 181px 28px 0 221px;
      margin: 0 auto;
   }

   .welcome__title {
      font-size: $title-desktop;
      margin-bottom: 65px;
      text-align: left;
   }

   .welcome__list {
      padding-bottom: 32px;
   }

   .welcome__item {
      padding-left: 68px;
      background-position-x: 24px;
   }

   .welcome__link {
      margin-left: 37px;
   }
}