.card-title {
   font-family: "Raleway", "Montserrat Alternates Light", sans-serif; // monospace sans-serif
   font-style: normal;
   font-weight: 400;
   font-size: 28px;
   line-height: 33px;
   color: $green;
   text-align: center;
}