.section-title {
   font-family: "Comfortaa", "Montserrat Alternates Light", sans-serif; // monospace sans-serif
   font-style: normal;
   font-weight: 400;
   font-size: $title-mobile;
   line-height: 40px;
   color: $green;
   text-align: center;
   margin-top: 0;
}